.nav-bar {
  display: flex;
  align-items: center;
  background-color: #303030;
  position: sticky;
  z-index: 3;
  top: 0;
}

.nav-bar > * {
  padding-inline: 1em;
}

.nav-bar > img {
  object-fit: cover;
  width: 50px;
}

.nav-bar > a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
  border-radius: 50px;
  padding-block: 1em;
}

.nav-bar > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
